.qeydi{
	font-size: 1.7em;
	color: #8e8e8e;
}
.logo{
	margin-bottom:0 !important;
}
.fnwgt{
font-weight: bold;
}
.txtcenter{
	text-align: center;
}
.mbot10{
		margin: 0 0 10px 0;
}
.pd10{
	padding: 10px;
}
.wdt100{
	width: 100%;
}
.facebook{
	font-size: 1.4em;
	background-color: #0095f6;
}

.mr5{
	margin: 5px 0;
}
.ftsiz{
	font-size: 1.2em;
}